<!--<my-daily-quest></my-daily-quest>-->
<div ng-controller="LeaderboardController">
<div class="row-fluid" >
    <div class="span6">
      

      <div ng-hide="user.isLoggedIn">
        <h2>Welkom</h2>
        <p>Login voor meer informatie. </p>
        <button class="btn login" ng-click="login()">Inloggen</button>
      </div>
      <div ng-show="user.isLoggedIn">
        <h2>Welkom {{user.username}}</h2>
        <p>You currently have {{user.points}} Avanspoints</p>
      </div>
  
      
      <h3>Twitch Stream</h3>
      
      <p>Volg nu de hoorcolleges op twitch! <a href="https://www.twitch.tv/avanswebs3">https://www.twitch.tv/avanswebs3</a></p>
      
      <h3>Punten</h3>
      <p>Je kan punten verdienen door:</p>
      <ul>
        <li>Een challenge op te lossen</li>
        <li>Een bug aan te geven in de site (+5 punten)</li>
        <li>Een bug op te lossen in een <a href="https://github.com/Avans/Webdictaat-Javascript" target="_blank">pull request</a> (+20 punten)</li>
        <li>Een <span class="easy">makkelijke</span> opgave te laten aftekenen bij de docent (+10)</li>
        <li>Een <span class="medium">medium</span> opgave te laten aftekenen bij de docent (+15)</li>
        <li>Een <span class="hard">moeilijke</span> opgave te laten aftekenen bij de docent (+20)</li>
      </ul>
      
    </div>
    <div class="span6">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/AvansWebs3" data-widget-id="722340764550881280">Tweets by @AvansWebs3</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  <div class="span12 ">

    <div id="leaderboards">
      <div ng-show="user.isLoggedIn">
        
        <h3>Leaderboards</h3>

        <table class="leaderBoard table">
          <thead>
            <tr>
              <th>#</th><th>Username</th><th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in leaderboard.users">
              <td>{{$index + 1}}</td>
              <td>{{user.email}}</td>
              <td>{{user.points}}</td>
            </tr>
            <tr ng-show="consolation" class="consolation">
              <td><b>:(</b></td>
              <td>{{consolation.email}}</td>
              <td>{{consolation.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- End of Leaderboard controller -->

  </div>



  </div>
</div> <!-- end of row -->
