<!--<my-daily-quest></my-daily-quest>-->

<div class="row-fluid">
  <div class="span6">

    <div id="leaderboards" ng-controller="LeaderboardController">

      <div ng-hide="user.isLoggedIn">
        <h2>Welkom</h2>

        <p>Login voor meer informatie. </p>
        <button class="btn login" ng-click="login()">Inloggen</button>
      </div>
      <div ng-show="user.isLoggedIn">
        <h2>Welkom {{user.username}}</h2>
        <p>You currently have {{user.points}} Avanspoints</p>

        <table class="leaderBoard table">
          <thead>
            <tr>
              <th>#</th><th>Username</th><th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in leaderboard.users">
              <td>{{$index + 1}}</td>
              <td>{{user.email}}</td>
              <td>{{user.points}}</td>
            </tr>
          </tbody>
        </table>

      <h3>Punten</h3>
      <p>Je kan punten verdienen door:</p>
      <ul>
        <li>Een challenge op te lossen</li>
        <li>Als eerste een challenge op te lossen (+10 punten)</li>
        <li>Een bug aan te geven in de site (+5 punten)</li>
        <li>Een bug op te lossen in een <a href="https://github.com/Avans/Webdictaat-Javascript" target="_blank">pull request</a> (+20 punten)</li>
        <li>Een <span class="easy">makkelijke</span> opgave te laten aftekenen bij de docent (+10)</li>
        <li>Een <span class="medium">medium</span> opgave te laten aftekenen bij de docent (+15)</li>
        <li>Een <span class="hard">moeilijke</span> opgave te laten aftekenen bij de docent (+20)</li>
      </ul>
      </div>
    </div> <!-- End of Leaderboard controller -->

  </div>

  <div class="span6">

    <!-- Twitter Feed -->
    <iframe src="twitter.html" class="twitter"></iframe>

  </div>
</div> <!-- end of row -->
