<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Webdictaat Javascript</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Frans Spijkerman &amp; Paul Wagener">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/webdictaat.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.avans.nl/favicon.64.png">

    <script src="static/js/jquery-1.9.1.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script src="static/ace/ace.js"></script>
    <script src="static/js/webdictaat.js"></script>

    <script src="static/js/prettify.packed.js"></script>
    <script src="static/js/console.js"></script>
    <script src="static/js/live_assignments.js"></script>

    <script src="app/app.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand no_ajax" href="index.html">Webdictaat JavaScript</a>

          <div  ng-controller="UserController">
            <ul class="nav pull-right" ng-show="user.isLoggedIn">
              <li><button class="btn" id="logout" ng-click="logout()">Uitloggen</button></li>
              <li><p id="logged_in_name" class="nav navbar-text">Ingelogd als {{user.username}}</p></li>
              <li><p id="points" class="nav navbar-text">{{user.points}} punten</p></li>
            </ul>

            <ul class="nav pull-right" ng-hide="user.isLoggedIn">
              <li><button class="btn" id="login" ng-click="login()">Inloggen</button></li>
            </ul>
          </div>

        </ul>
        </div>


      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="theory">
              <li class="nav-header">Theorie</li>
              <li><a href="#">Week 1. JavaScript basis</a>
                    <ol class="nav nav-list">
                    <li><a href="basis/javascript.html">Over JavaScript</a></li>
                    <li><a href="basis/helloworld.html">Een eerste programma</a></li>
                    </ol>
              </li>
            </ul>

            <ul class="nav nav-list" id="assignments">
              <li class="nav-header">Opdrachten</li>
              <li><a href="basis/opdrachten.html">Opdrachten week 1</a></li>
            </ul>

          </div><!--/.well -->
        </div><!--/span-->
        <article class="span9" id="content">

          <!--<my-daily-quest></my-daily-quest>-->


          <div id="leaderboards" ng-controller="LeaderboardController">

              <div ng-hide="user.isLoggedIn">
                <h2>Welkom</h2>

                <p>Login voor meer informatie. </p>
                <button class="btn login" ng-click="login()">Inloggen</button>
              </div>
              <div ng-show="user.isLoggedIn">
                <h2>Welkom {{user.username}}</h2>
                <p>You currently have {{user.points}} Avanspoints</p>

                <table class="leaderBoard table">
                  <thead>
                    <tr>
                      <th>#</th><th>Username</th><th>Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in leaderboard.users">
                      <td>{{$index + 1}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.points}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>


          </div> <!-- End of Leaderboard controller -->

          <!-- Twitter Feed -->
          <a class="twitter-timeline" href="https://twitter.com/AvansWebs3" data-widget-id="591507296871645184">Tweets by @AvansWebs3</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



        </article><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>2015 Avans</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>
