<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Webdictaat Javascript</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Frans Spijkerman &amp; Paul Wagener">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/webdictaat.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.avans.nl/favicon.64.png">

    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.js"></script>

    <script src="static/ace/ace.js"></script>
    <script src="static/js/prettify.packed.js"></script>
    <script src="static/js/console.js"></script>
    <script src="static/js/live_assignments.js"></script>

    <script src="app/app.js"></script>
  </head>

  <body updatelinks>

  <div class="header">
    <div class="navbar navbar-top">
         <div class="container-fluid">



          <a class="brand no_ajax" href="#/home.html">Webdictaat JavaScript</a>

          <div  ng-controller="UserController">
            <ul class="nav pull-right" ng-show="user.isLoggedIn">
             
              <li><p id="logged_in_name" class="nav navbar-text">Ingelogd als {{user.username}}</p></li>
              <li><p id="points" class="nav navbar-text">{{user.points}} punten</p></li>
              <li><button class="mat" id="logout" ng-click="logout()">Uitloggen</button></li>
            </ul>

            <ul class="nav pull-right" ng-hide="user.isLoggedIn">
              <li><button class="mat" id="login" ng-click="login()">Inloggen</button></li>
            </ul>
          </div>
          

         </div>
    </div>
  </div>
  
    <div class="container-fluid content">
      <div class="row-fluid">
        <div class="span3">
          <div class="sidebar-nav card">
            <ul class="nav nav-list" id="assignments">
              <li class="nav-header">Opdrachten</li>
              <li><a href="basis/opdrachten.html">Opdrachten week 1</a></li>
              <li><a href="jquery/opdrachten.html">Opdrachten week 2</a></li>
              <li><a href="prototype/opdrachten.html">Opdrachten week 3</a></li>
              <li><a href="ajax/opdrachten.html">Opdrachten week 4</a></li>
              <li><a href="misc/opdrachten.html">Opdrachten week 5</a></li>
              <li><a href="eindopdracht/eindopdracht.html">Eindopdracht</a></li>
            </ul>


          </div><!--/.well -->
        </div><!--/span-->
        <article class="span9" id="content" ui-view>
        </article><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>2015 Avans</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>
